<div [class.overlay] = "matchstatsloading"><span [class]="matchstatsloading  ? 'loader' : 'hide'"><img src="../assets/images/some.gif" /></span></div>

<div class="main-container">
  <h1 class="header">Match statistics</h1>
  <table class="table table-bordered table-responsive statstable" [mfData]="matchList" #mf="mfDataTable" >
    <thead>
     <tr>
      <th>Match</th>
      <th><mfDefaultSorter by="matchTime">Time</mfDefaultSorter></th>
       <th><mfDefaultSorter by="winner">Winners</mfDefaultSorter></th>
       <th>Votes</th>
       <th><mfDefaultSorter by="totalWins">Total Winners</mfDefaultSorter></th>
       <th><mfDefaultSorter by="winningBounty">Bounty</mfDefaultSorter></th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of mf.data">
        <td>{{match.team1Name}} vs {{match.team2Name}}</td>
        <td>{{match.matchTime}}</td>
        <td>{{match.winner.toUpperCase()}}</td>
        <td> Bets on {{match.team1Name}} : {{match.numberOfBetForTeam1}}<br>Bets on {{match.team2Name}} : {{match.numberOfBetForTeam2}}<br>Bets for DRAW : {{match.numberOfBetForDraw}}
        </td>
        <td>{{match.totalWins}}</td>
        <td>{{match.winningBounty}}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin:15px">
    <button class="btn btn-danger" routerLink="/home">Back to Home</button>
  </div>
</div>
