 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fifa Fever</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
        <li><a  (click)="modal.show()"><span class="fa fa-gavel"></span>Rules</a></li>
      </ul>
    </div>
   <app-modal #modal>
     <div class="app-modal-header">
       <h2>Rules</h2>
     </div>
     <div class="app-modal-body">
       1) Betting for a match will stop an hour before the match<br>
       2) If a participant who has entered the game is unable to make a prediction for a match it will be treated as loss.
     </div>
     <div class="app-modal-footer">
       <button type="button" class="btn btn-default" (click)="modal.hide()">OK</button>

     </div>
   </app-modal>
 </nav>
