
<div class="match-list">
  <h1 class="match-list-header"> User Prediction View</h1>
  <div *ngIf="match_list;then showMatchList else showNoContentMessage"></div>
  <ng-template #showNoContentMessage>
    No Matches
  </ng-template>
  <ng-template #showMatchList>
  <div class="match-list-content">
      <div  *ngFor="let match of match_list">
        <div class="panel panel-primary theme_panel">
          <div [ngClass] = "{'paintmered':match.resultOfUser === 'LOSE', 'paintmegreen':match.resultOfUser === 'WON'}">
          <div class = 'panel-heading'>
            <div class="diplaymeinline">
              {{match.team1Name}} vs {{match.team2Name}}
            </div>
            <div class="diplaymeinline">
              {{match.matchTime}}.
              <span class="winlose" *ngIf="(match.resultOfUser === 'LOSE')"><i class="fa fa-thumbs-down"></i></span>
              <span class="winlose" *ngIf="(match.resultOfUser === 'WON')"><i class="fa fa-thumbs-up"></i></span>
            </div>
            <div class="diplaymeinline bountyinline">
              5X
            </div>
          </div>
          <div>
            <span class="addpadding">
              Points at stake : {{match.userPointsEarned}}
              Match winner : {{match.winner}}
            </span>
          </div>
        </div>
        </div>
      </div>

  </div>



</ng-template>
</div>
